<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="root">
        <header>
            <nav>
                <div class="header-box">
                    <div class="openai-logo"></div>
                </div>
                <div class="chat-box">
                    <!-- <p class="chat-txt">What can I help with?</p> -->
                    <input type="text" class="chat-txt" placeholder="What can I help with?">
                </div>
            </nav>
        </header>
        <main>
            <div class="left-section">
                <div class="chart-wrapper">
                    <div class="chart" id="chart-0"></div>
                    <div class="chart" id="chart-1"></div>
                    <div class="chart" id="chart-2"></div>
                    <div class="chart" id="chart-3"></div>
                </div>
                <div class="controller-wrapper">
                    <div class="slider-wrapper">
                        <p class="slider-label">x</p>
                        <input type="range" min="0" max="100" value="50" class="slider">
                    </div>
                    <div class="slider-wrapper">
                        <p class="slider-label">y</p>
                        <input type="range" min="0" max="100" value="50" class="slider">
                    </div>
                    <div class="slider-wrapper">
                        <div class="z-label-row">
                            <div class="z-wrapper">
                                <select class="z-select">
                                    <option value=""></option>
                                    <option value="box">box</option>
                                    <option value="panel">panel</option>
                                </select>
                            </div>
                        </div>
                        <p class="slider-label">z</p>
                        <input type="range" min="0" max="100" value="50" class="slider">
                    </div>
                    <div class="toggle-switch">
                        <p class="toggle-txt">SUCTION CUP</p>
                        <input type="checkbox" class="toggle-input" id="toggle" />
                        <label class="toggle-label" for="toggle"></label>
                    </div>
                </div>
            </div>
            <div class="video-wrapper">
                <!-- <img src="{{ url_for('video_feed') }}" /> -->
                <img class="video-section" src="./img/image.png">
            </div>

        </main>
        <footer>
            <div class="btn-wrapper">
                <div class="btn">
                    <p class="btn-text">HOMING</p>
                </div>
                <div class="btn">
                    <p class="btn-text">SEND</p>
                </div>
            </div>
        </footer>
    </div>
    <script src="./app.js"></script>
</body>
</html>

