<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />
    <title>Document</title>
</head>
<body>
    <div class="root">
        <div class="main">
            <div class="video-wrapper">
                <img src="{{ url_for('video_feed') }}" />
            </div>
            <div class="joint-wrapper">
                <p>joint area</p>
            </div>
        </div>
        <div class="footer">
            <div class="controller-wrapper">
                <p>controller area</p>
            </div>
        </div>
    </div>
</body>
</html>

